.heading1 {
    font-size: 2.75rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 42px;

    @media (min-width: 768px) {
        font-size: 3.5rem;
    }

    @media (min-width: 1024px) {
        font-size: 4.5rem;
    }
}

.paragraph {
    font-size: 1.125rem;
    line-height: 1.625;
}