.heading1 {
    font-size: 2.75rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 42px;

    @media (min-width: 768px) {
        font-size: 3.5rem;
    }

    @media (min-width: 1024px) {
        font-size: 4.5rem;
    }
}

.heading2 {
    font-size: 1.875rem;
    margin-top: 40px;
    margin-bottom: 14px;
}

.paragraph {
    font-size: 1.125rem;
    line-height: 1.625;
    margin-top: 14px;
    margin-bottom: 14px
}

.listItem {
    font-size: 1.125rem;
    line-height: 1.625;
}

.pre {
    background-color: #f5f5f5;
    padding: 14px;
    border-radius: 8px;
    overflow-x: auto;
}

.code {
    font-size: 1rem;
    background-color: #f5f5f5;
    padding: 2px;
    border-radius: 4px;
}