.heading {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 64px;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    text-decoration: none;

    @media (max-width: 1024px) {
        margin-bottom: 48px;
    }

    &:hover {
        text-decoration: underline;
    }
}


.articleContent :not(h1):not([id*="img-wrapper"]):not(img) {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}