.container {
    padding: 0 20px;
    max-width: 100%;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 640px) {
        max-width: 640px;
    }

    @media (min-width: 768px) {
        max-width: 768px;
    }

    @media (min-width: 1024px) {
        max-width: 1024px;
    }

    @media (min-width: 1280px) {
        max-width: 1280px;
    }

    @media (min-width: 1536px) {
        max-width: 1536px;
    }
}

.githubHeader {
    text-align: center;
    padding: 8px 20px;
    font-size: .875rem;
    line-height: 1.42857;
    border-bottom: 1px solid #e5e7eb;
    background-color: rgb(250, 250, 250);

    & a {
        color: #000;
        transition: color .2s cubic-bezier(.4, 0, .2, 1);

        &:hover {
            color: rgb(0, 112, 243);
        }
    }
}