.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 48px;

    & .title {
        font-size: 6.25rem;
        line-height: 1.2;
        padding-right: 32px;
        margin: 0
    }

    & .description {
        font-size: 1.125rem;
        margin: 0
    }

    @media (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 64px;

        & .title {
            font-size: 2.75rem;
            padding-right: 0;
        }

        & .description {
            margin-top: 20px;
            text-align: center;
        }
    }
}