.container {
    text-align: center;
    padding: 8px 20px;
    font-size: .875rem;
    line-height: 1.42857;
    border-bottom: 1px solid #e5e7eb;
    background-color: rgb(250, 250, 250);

    & a {
        color: #000;
        transition: color .2s cubic-bezier(.4, 0, .2, 1);

        &:hover {
            color: rgb(0, 112, 243);
        }
    }
}