.imageWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    @media (min-width: 768px) {
        margin-bottom: 64px;
    }
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}