.imageContainer {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.title {
    font-size: 1.875rem;
    margin: 0;
    margin-bottom: 0.75rem;
    line-height: 1.375;

    & a {
        color: #000;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.date {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.summary {
    font-size: 1.125rem;
    line-height: 1.625;
    margin: 0;
}